<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>VideoClub</title>
		<links th:replace="links"/>
	</head>
	<body>
		<!-- Navbar de navegacion entre las diferentes secciones -->
		<div th:replace="navbar :: header"/>
		
		<div class="text-white bg-warning container-fluid">
		  	<div class="card-body">
				<h3>Pagina web en Proceso.</h3>
				<h4>Gracias por la espera 😀</h4>
			</div>
		</div>
		
	</body>
</html>