<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>VideoClub</title>
		<links th:replace="links"/>
	</head>
	<body>
		<!-- Navbar de navegacion entre las diferentes secciones -->
		<div th:replace="navbar :: header"/>
	
		<!-- Tabla donde se muetran todos los Actores -->
		<div class="text-white bg-danger mb-3 container-fluid">
		  	<div class="card-header">Actores</div>
			<div class="card-body">
				<table class="table table-striped table-dark">
					<thead class="thead-light">
						<tr>
							<th scope="col">ID Actor</th>
							<th scope="col">Nombre</th>
							<th scope="col">Apellidos</th>
							<th scope="col">Fecha Nacimiento</th>
							<th scope="col">Nacionalidad</th>
							<th scope="col" th:hidden="${btnDropActorEnabled}">Eliminar</th>
							<th scope="col" th:hidden="${btnDropActorEnabled}">Actualizar</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="actor : ${actorListView}">
							<tr>
								<td scope="row" th:text="${actor.id}" />
								<td scope="row" th:text="${actor.nombre}" />
								<td scope="row" th:text="${actor.apellidos}" />
								<td scope="row" th:text="${actor.fechNacimiento}" />
								<td scope="row" th:text="${actor.nacionalidad}" />
								<td scope="row" th:hidden="${btnDropActorEnabled}">
									<form action="removeActor" method="post">
										<button th:disabled="${btnDropActorEnabled}" type="submit"
											id="btnDropActor" name="ActorId" th:value="${actor.id}"
											class="btn btn-light">❌</button>
									</form>
								</td>
								<td>
									<form action="antesUpdateActor" method="post">
										<button th:disabled="${btnDropActorEnabled}" type="submit"
											id="btnUpdateActor" name="ActorId" th:value="${actor.id}"
											class="btn btn-light">♻</button>
									</form>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<a class="btn btn-primary" th:href="@{index}" id="aBtnReturn" role="button">Volver</a>
			</div>
		</div>
	</body>
</html>