<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>VideoClub</title>
		<links th:replace="links"/>
	</head>
	<body>
		<!-- Navbar de navegacion entre las diferentes secciones -->
		<div th:replace="navbar :: header"/>
	
		<!-- Tabla donde se muetran todos los Peliculas -->
		<div class="text-white bg-primary mb-3 container-fluid">
		  	<div class="card-header">Peliculas</div>
			<div class="card-body">
				<table class="table table-striped table-dark">
					<thead class="thead-light">
						<tr>
							<th scope="col">ID Pelicula</th>
							<th scope="col">Titulo</th>
							<th scope="col">Fecha de Estreno</th>
							<th scope="col">Duracion(min)</th>
							<th scope="col">Resumen</th>
							<th scope="col" th:hidden="${btnDropPeliculaEnabled}">Eliminar</th>
							<th scope="col">Actualizar</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="pelicula : ${peliculaListView}">
							<tr>
								<td scope="row" th:text="${pelicula.id}" />
								<td scope="row" th:text="${pelicula.titulo}" />
								<td scope="row" th:text="${pelicula.annoEstreno}" />
								<td scope="row" th:text="${pelicula.minDuracion}" />
								<td scope="row" th:text="${pelicula.resumen}" />
								<td scope="row" th:hidden="${btnDropPeliculaEnabled}">
									<form action="removePelicula" method="post">
										<button th:disabled="${btnDropPeliculaEnabled}" type="submit"
											id="btnDropPelicula" name="peliculaId" th:value="${pelicula.id}"
											class="btn btn-light">❌</button>
									</form>
								</td>
								<td>
									<form action="antesUpdatePelicula" method="post">
										<button th:disabled="${btnDropPeliculaEnabled}" type="submit"
											id="btnUpdatePelicula" name="peliculaId" th:value="${pelicula.id}"
											class="btn btn-light">♻</button>
									</form>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<a class="btn btn-danger" th:href="@{index}" id="aBtnReturn" role="button">Volver</a>
			</div>
		</div>
	</body>
</html>