<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>VideoClub</title>
		<links th:replace="links"/>
	</head>
	<body>
		<!-- Navbar de navegacion entre las diferentes secciones -->
		<div th:replace="navbar :: header"/>
		
		<div class="card text-white bg-dark mb-3">
		  	<div class="card-header">
				<form th:action="@{/peliculasPorActor}" th:object="${actorBusqueda}" method="POST">
			  		<label for="actores">Selecciona un Actor:</label>
				  	<div class="form-group">
			  			<label for="inpActor">Nombre</label>
						<select class="form-control" name="actor">
							<option th:each="actor : ${listaActores}" th:value="${actor.id}" th:utext="${actor.nombre}"></option>
						</select>
					</div>
			  		<button type="submit" name="actorId" class="btn btn-success">Buscar Peliculas</button>
					<a class="btn btn-primary" th:href="@{index}" id="aBtnReturn" role="button">Volver</a>
				</form>
		  	</div>
		</div>
	</body>
</html>